

{{#partial "content"}}
    <div id="landing">

    <div class="demo">
        <div class="">
            <div id="large-header" class="large-header">
                <canvas id="demo-canvas" width="50"></canvas>
                <h1 class="main-title"><span class="thin">Welcome to</span> Ekub</h1>
                <div id="logo"><img src="images/Logo.jpeg"></div>

            </div>
        </div>
    </div>

    <div class="container-fluid" id="about">
        <h1 >What's Ekub</h1>
        <p>Ekub is a modern Mobile Banking and Lottery System. As a user, you can join existing groups,any of your preference and contribute the amount specified to each round or you can Create your own group and add members to your group . The group session kicks off once all members are present in a group and moves in a circular motion allowing every member a chance at the total contributed amount. When your round comes, you will collect your money from the group which is the total contribution of the group.</p>
        <p>Example; If you join a group of 4 members, 500ksh contribution amount, and 2 weeks round, you'll contribute 500ksh for every 2 weeks for 8 weeks total. Meanwhile, when your random round comes, you will collect 2,000ksh.Awesome right ?</p>
    </div>

        <hr>

<div class="container" id="testimonials">
    <h2 ><u>Testimonials</u></h2>

    <div class="row">
        <div class="col-md-4">
    <div class="card2">
        <img src="images/girl.png" alt="Avatar" style="width:100%">
        <div class="container1">
            <h4><b>Einstein</b></h4>
            <p>"A great website on the tip of brilliance."</p>
        </div>
    </div>
        </div>
        <div class="col-md-4">
            <div class="card2">
                <img src="images/img_avatar3.png" alt="Avatar" style="width:100%">
                <div class="container1">
                    <h4><b>Anonymous</b></h4>
                    <p>"Great concept. Very reliable product to use."</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card2">
                <img src="images/avatar6.png" alt="Avatar" style="width:100%">
                <div class="container1">
                    <h4><b>User101</b></h4>
                    <p>"Solves a lot of money problems."</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
    <div class="icon-bar" >
        <a id="social" href="#" class="facebook"><i class="fa fa-facebook"></i></a>
        <a id="social" href="#" class="twitter"><i class="fa fa-twitter"></i></a>
        <a id="social" href="#" class="google"><i class="fa fa-google"></i></a>
        <a id="social" href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
        <a id="social" href="#" class="youtube"><i class="fa fa-youtube"></i></a>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a>Terms and Conditions</a>
            <a>Privacy Policy</a>
        </div>
    </div>
    </div>

{{/partial}}
{{#partial "navbar"}}
        <li><a href="/"><span ></span>Home</a></li>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/signin"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
        </ul>

{{/partial}}


{{> layout.hbs}}