{{#partial "content"}}

    <div class="cotn_principal">

        <h1>EKUB</h1>
        <div class="cont_centrar">

            <div class="cont_login">
                <div class="cont_info_log_sign_up">
                    <div class="col_md_login">
                        <div class="cont_ba_opcitiy">

                            <h2 class="h2">LOGIN</h2>
                            <h2 class="h">Welcome to your account.</h2>
                            <button class="btn_login" onclick="cambiar_login()">LOGIN</button>
                        </div>
                    </div>
                    <div class="col_md_sign_up">
                        <div class="cont_ba_opcitiy">
                            <h2 class="h2">SIGN UP</h2>


                            <h2 class="h">Get started with your <br> EKUB account here.</h2>

                            <button class="btn_sign_up" onclick="cambiar_sign_up()">SIGN UP</button>
                        </div>
                    </div>
                </div>


                <div class="cont_back_info">
                    <div class="cont_img_back_grey">
                        <img
                                src="https://images.unsplash.com/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg?ixlib=rb-0.3.5&q=50&fm=jpg&crop=entropy&s=7686972873678f32efaf2cd79671673d"
                                alt="" />
                    </div>

                </div>
                <div class="cont_forms">
                    <div class="cont_img_back_">
                        <img
                                src="https://images.unsplash.com/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg?ixlib=rb-0.3.5&q=50&fm=jpg&crop=entropy&s=7686972873678f32efaf2cd79671673d"
                                alt="" />
                    </div>
                    <div class="cont_form_login">
                        <a href="#" onclick="ocultar_login_sign_up()"><i class="material-icons"></i></a>
                        <h2>LOGIN</h2>
                        <input type="text" placeholder="Email" id="email"/>
                        <input type="password" placeholder="Password" class="message"/>
                        <button class="btn_login" onclick="cambiar_login()">LOGIN</button>
                    </div>

                    <div class="cont_form_sign_up">
                        <a href="#" onclick="ocultar_login_sign_up()"><i class="material-icons"></i></a>
                        <h2>SIGN UP</h2>
                        <input type="text" placeholder="Email" id="email" />
                        <input type="text" placeholder="User" id="name"/>
                        <input type="password" placeholder="Password" class="message"/>
                        <input type="password" placeholder="Confirm Password" class="message"/>
                        <button class="btn_sign_up" onclick="cambiar_sign_up()">SIGN UP</button>

                    </div>

                </div>

            </div>
        </div>
    </div>
    <script>
    /* ------------------------------------ Click on login and Sign Up to  changue and view the effect
---------------------------------------
*/
    function cambiar_login() {
      document.querySelector('.cont_forms').className = "cont_forms cont_forms_active_login";
      document.querySelector('.cont_form_login').style.display = "block";
      document.querySelector('.cont_form_sign_up').style.opacity = "0";
      setTimeout(function () { document.querySelector('.cont_form_login').style.opacity = "1"; }, 400);
      setTimeout(function () {
        document.querySelector('.cont_form_sign_up').style.display = "none";
      }, 200);
    }
    function cambiar_sign_up(at) {
      document.querySelector('.cont_forms').className = "cont_forms cont_forms_active_sign_up";
      document.querySelector('.cont_form_sign_up').style.display = "block";
      document.querySelector('.cont_form_login').style.opacity = "0";
      setTimeout(function () {
        document.querySelector('.cont_form_sign_up').style.opacity = "1";
      }, 100);
      setTimeout(function () {
        document.querySelector('.cont_form_login').style.display = "none";
      }, 400);
    }
    function ocultar_login_sign_up() {
      document.querySelector('.cont_forms').className = "cont_forms";
      document.querySelector('.cont_form_sign_up').style.opacity = "0";
      document.querySelector('.cont_form_login').style.opacity = "0";
      setTimeout(function () {
        document.querySelector('.cont_form_sign_up').style.display = "none";
        document.querySelector('.cont_form_login').style.display = "none";
      }, 500);
    }
  </script>

{{/partial}}
{{>layout.hbs}}