{{#partial "content"}}
    <p>Dear member, please make sure you contribute your part with in the next three work days.</p>
    <p>Thank you!</p>


{{/partial}}
{{#partial "navbar"}}
    <li><a href="/"><span ></span>Home</a></li>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Log out</a></li>
    </ul>

{{/partial}}


{{> layout.hbs}}