<h3>Terms and Conditions</h3>
<ol>
<li>We do not in any way exclude or limit our liability for:</li>
    <ul>
        <li>death or personal injury caused by our negligence;</li>
        <li>fraud or fraudulent misrepresentation;</li>
        <li>any breach of the terms implied by section 13 to 15 of the Sale of Goods Act 1979 and
            sections 3 to 5 of the Supply of Goods and Services Act 1982 (description, satisfactory
            quality, fitness for purpose and samples</li>
    </ul>
<li> Our contract with you if you join or create a group</li>
    <ul>
        <li>Before joining you must have the required amount</li>
        <li>We each acknowledge that, in entering into a group, you cannot withdraw.</li>
        <li></li>
    </ul>
<li>Any notice to be sent by you or by us in connection with these terms and condition can be sent by
    letter or by email.</li>
    <li>Third party rights</li>
    <ul>
        <li>A person who is not party to these terms and conditions or a Contract shall not have any rights under or in
            connection with them.</li>
    </ul>
<li>Severability</li>
    <ul>
        <li>If any court or competent authority decides that any of the provisions of these terms and conditions or any
            provisions of a Contract are invalid, unlawful or unenforceable to any extent, the term will, to that extent</li>
    </ul>
    <li>Law and jurisdiction</li>
    <ul>
        <li>These terms and conditions and any dispute or claim arising out of or in connection with them or their
            subject matter or formation (including non-contractual disputes or claims) will be governed by Scots law.
            Any dispute or claim arising out of or in connection with these terms and conditions or their formation
            (including non-contractual disputes or claims) will be subject to the non-exclusive jurisdiction of the courts</li>
    </ul>
</ol>